.nav 
    height: var(--header-height)
    display: flex
    justify-content: space-between
    align-items: center

    &__logo 
        display: flex
        align-items: center
        column-gap: .5rem
        font-weight: var(--font-medium)

        &-img 
            width: 1.25rem
    
    &__link,
    &__logo,
    &__toggle,
    &__close 
        color: var(--title-color)

    &__toggle 
        font-size: 1.25rem 
        cursor: pointer

    &__img 
        position: absolute
        top: 0
        left: 0
        width: 100px

    &__close 
        position: absolute
        top: 0.5rem
        right: 0.7rem
        font-size: 1.8rem
        cursor: pointer

    &__list 
        display: flex
        flex-direction: column
        align-items: center
        row-gap: 1.5rem

    &__link 
        text-transform: uppercase
        font-weight: var(--font-black)
        transition: .4s 

        &:hover 
            color: var(--text-color)

@media screen and (max-width: 767px)
    .nav
        &__menu 
            position: fixed
            top: -150%
            left: 0
            width: 100%
            padding: 3.5rem 0 
            background: var(--container-color)
            border-radius: 0 0 1.5rem 1.5rem 
            transition: .4s 
            z-index: var(--z-fixed)
