.home 

    &__content 
        padding-top: 9rem
        grid-template-columns: repeat(2, 1fr)
        gap: 3rem

    &__group 
        position: relative
        padding-top: 0
        display: grid

    &__img 
        height: 420px
        justify-self: center
        transform: translateY(-3rem)

    &__indicator 
        position: absolute
        top: initial
        right: initial
        bottom: 15%
        left: 45%
        width: 8px
        height: 8px
        background-color: var(--title-color)
        border-radius: 50%

        &::after
            content: ''
            position: absolute
            top: 0
            right: 45%
            width: 1px
            height: 75px
            background-color: var(--title-color)

    &__details
        
        &-img 
            position: absolute
            bottom: 0%
            right: 58%
        
        &-title,
        &-subtitle 
            display: block
            text-align: right
            font-size: var(--small-font-size)

    &__title 
        margin-bottom: var(--mb-1-5)
        max-width: 450px
        font-size: var(--biggest-font-size)
        font-weight: var(--font-black)
        line-height: 109%

    &__subtitle 
        font-size: var(--h3-font-size)
        text-transform: uppercase
        margin-bottom: var(--mb-1)

    &__description 
        margin-bottom: var(--mb-2-5)
        padding-right: 2rem

    &__buttons 
        display: flex
        justify-content: space-between
        align-items: center
    
@media screen and (max-width: 1200px)
    .home 

        &__img 
            height: 400px

@media screen and (max-width: 992px)
    .home 

        &__content 
            padding: 8rem 0 2rem
            grid-template-columns: repeat(2, 1fr)
            gap: 4rem

        &__group
            padding-top: 2rem
        
        &__img 
            height: 300px
            transform: translateY(0)

        &__indicator 
            top: 7rem
            right: 2rem
            bottom: initial
            left: initial

            &::after
                top: -3rem
                height: 48px

        &__details 

            &-img 
                right: 0.5rem
                bottom: initial

        &__title 
            margin-bottom: var(--mb-1)
            max-width: 220px
        
        &__description 
            margin-bottom: var(--mb-1)
            padding-right: 0

@media screen and (max-width: 767px)
    .home 

        &__content
            padding: 0
            grid-template-columns: 1fr
            row-gap: 1rem

        &__img 
            height: 250px

@media screen and (max-width: 320px)
    .home 

        &__img 
            height: 200px

        &__buttons 
            flex-direction: column
            row-gap: 1rem
            width: max-content
