.newsletter

    &__container 
        display: grid
        grid-template-columns: .5fr
        justify-content: center

    &__description  
        margin: 0 auto
        margin-bottom: var(--mb-1-5)
        padding: 0 3rem
        text-align: center

    &__form 
        padding: 1rem
        display: flex
        justify-content: space-between
        background: var(--container-color)
        border-radius: .75rem

    &__input 
        padding: 0 .5rem
        width: 70%
        color: var(--title-color)
        background: none

        &::placeholder 
            color: var(--text-color)

@media screen and (max-width: 992px)
    .newsletter

        &__container 
            grid-template-columns: .7fr

@media screen and (max-width: 767px)
    .newsletter

        &__container 
            grid-template-columns: 1fr

        &__description
            padding: 0 